.container {
  display: flex;
}

.left {
  width: 50%;
  height: 100vh;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 50%;
  height: 100vh;
}
