.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectContainer{
  display: flex;
  gap: 3rem;
}

.addButton{
  background-color: var(--primary);
  width: fit-content;
  margin-top: 2rem;
  color: white;
  padding: 0.5rem 1rem; border-radius: 0.5rem;
}

.addButton:hover{
 cursor: pointer;
}


.select{
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  box-shadow: 0rem 0.051rem 0.2rem 0rem grey;
}

