.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
  background-color: var(--primary);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.card{
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

