.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
  background-color: var(--primary);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card * {
  font-size: 0.9rem;
}

.pp1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ss1 {
  background-color: rgb(220 252 231);
  padding-left: 0.5rem /* 8px */;
  padding-right: 0.5rem /* 8px */;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  border-radius: 0.375rem /* 6px */;
  margin-left: 1rem /* 16px */;
}

.ss1:hover {
  cursor: pointer;
}

.ss2{
  margin-left: 1rem/* 16px */;

}

.ss2:hover{
  cursor: pointer;

}
